@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Rowan Miller's UnicornStore MVC6/EF7 Sample</h3>

<p>See Rowan's <a href="https://channel9.msdn.com/Events/Ignite/2015/BRK3727" target="_blank">"Ignite 2015" talk</a> about this and related samples.</p>

<p>Get Rowan's <a href="https://github.com/rowanmiller/UnicornStore/tree/master/UnicornStore" target="_blank">original source code on github</a>.</p>
<p>
    Get Ward's <a href="https://github.com/wardbell/UnicornStore/tree/DevIntersections/CompletedSource/UnicornStore/src/UnicornStore" target="_blank">source code variation on github</a>
    (checkout the <a href="https://github.com/wardbell/UnicornStore/blob/DevIntersections/README.UnicornStore.md" target="_blank">README.UnicornStore.md</a> too).
</p>
